*{
    scroll-behavior: smooth;
}
.welcome-hero{
    background:url(./background.jpg)no-repeat;
    background-size:cover;
    background-position: center;
    height:700px;
}

.welcome-hero a{
    color: #fff;
    text-decoration: none;
}

.hero-content{
    margin-top: 30%;
}

.hero-first{
    font-size: 80px;
    font-weight: 900;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-second{
    font-size: 40px;
    color: #fff;
}

@media screen and (min-width:768px){
    .hero-content{
        margin-top: 10%;
    }   
}